<!-- <h1>This is home</h1> -->
<!-- Using jinja templating to access the variable from the app.py file -->
<!-- <h2>{{ name }}</h2> -->

<h1>URL Shortener</h1>

<!-- Jinjas own way of writing code, its technically not python code -->
{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

<!-- Form for URL shortening -->
<form action="your-url" method="post">
    <label for="url">Website URL</label>
    <br>
    <input type="url" name="url" value="" required>
    <br>
    <label for="code">Short name</label>
    <br>
    <input type="text" name="code" value="" required>
    <br>
    <input type="submit" value="Shorten">
</form>

<!-- Form for file uploads -->
<form action="your-url" method="post" enctype="multipart/form-data">
    <label for="file">File</label>
    <br>
    <input type="file" name="file" value="" required>
    <br>
    <label for="code">Short name</label>
    <br>
    <input type="text" name="code" value="" required>
    <br>
    <input type="submit" value="Shorten">
</form>